user nginx;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

{% block worker %}
worker_processes {{ nginx_worker_processes }};
{% endblock %}

{% block events %}
events {
    worker_connections {{ nginx_worker_connections }};
}
{% endblock %}

http {

    include       {{ nginx_mime_file_path }};
    default_type  application/octet-stream;

    sendfile        on;

    access_log {{ nginx_access_log }};

    keepalive_timeout  {{ nginx_keepalive_timeout }};

    #include /etc/nginx/conf.d/*.conf;    

    upstream web_app {
        server {{ IP1 }}:5000;
        server {{ IP2 }}:5000;
        server {{ IP3 }}:5000;
    }

    server {
      listen 80;

      location / {
            	proxy_pass http://web_app;
      }
    }
}
